---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((h) => h.depth >= 2 && h.depth <= 3);
---

<div class="docs-toc">
  {filteredHeadings.length > 0 && (
    <nav aria-label="Table of contents">
      <div class="toc-title">On this page</div>
      <ul class="toc-list">
        {filteredHeadings.map((heading) => (
          <li class={`depth-${heading.depth}`}>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ul>
    </nav>
  )}
</div>
